@charset "UTF-8";
/*---------- CSS reset ------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  text-decoration: none !important; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*---- Genteral ----*/
body {
  color: #606060; }

header {
  height: 50px;
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between; }
  header nav {
    display: -moz-box;
    /* OLD: Firefox (buggy) */
    display: -ms-flexbox;
    /* MID: IE 10 */
    display: -webkit-flex;
    /* NEW, Chrome 21–28, Safari 6.1+ */
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 4px; }
    header nav img {
      height: 40px;
      width: 52px;
      display: inline-block; }

#Mem_Plz img {
  margin-right: 10px;
  background: url("../image/iconSheet.png") no-repeat -22px -4px; }
  #Mem_Plz img:hover, #Mem_Plz img.active {
    background: url("../image/iconSheet.png") no-repeat -22px -56px; }

#practice img {
  background: url("../image/iconSheet.png") no-repeat -90px -4px; }
  #practice img:hover, #practice img.active {
    background: url("../image/iconSheet.png") no-repeat -90px -56px; }

#info img {
  margin-right: 8px;
  background: url("../image/iconSheet.png") no-repeat -148px -4px; }
  #info img:hover, #info img.active {
    background: url("../image/iconSheet.png") no-repeat -148px -56px; }

#deck {
  margin-left: 4px;
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
  #deck span {
    margin-left: 8px;
    color: #d7d7d7; }

input, textarea {
  color: #191919;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  display: block;
  margin: 10px 0;
  padding-left: 10px;
  height: 40px;
  width: 80%; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #606060; }
  input:focus, textarea:focus {
    outline: none !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    border: 1px solid #d7d7d7; }

textarea {
  color: #606060;
  width: 100%;
  height: 200px;
  margin: 0;
  padding-top: 4px; }
  textarea::-webkit-input-placeholder {
    color: #d7d7d7; }

button {
  width: 80px;
  height: 32px;
  background-color: #d7d7d7;
  color: white;
  border-radius: 2px; }
  button:focus {
    outline: none !important; }
  button:active {
    background-color: #606060; }

/*--- Create layout ---*/
#createCards, .card {
  margin: 30px auto;
  width: 80%;
  height: 240px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center; }

#deckCode {
  margin: 30px auto;
  width: 80%; }
  #deckCode button {
    float: right;
    margin: 8px 0 0 8px;
    line-height: 14px; }

/*--- Practice Layout ---*/
#practiceContainer {
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

.cardContainer {
  position: relative;
  z-index: 1;
  perspective: 1000;
  -webkit-perspective: 1000;
  width: 80%; }

.card {
  display: block;
  width: 100%;
  min-height: 400px;
  transform-style: preserve-3d;
  transition: all .2s linear;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all .2s linear; }
  .card.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); }

.face {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute; }
  .face.front {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg); }
  .face.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); }

.face > div {
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  -webkit-justify-content: space-between; }
  .face > div h6 {
    align-self: flex-start;
    color: #d7d7d7;
    margin: 10px 0 0 10px; }
  .face > div p {
    margin: 0 14px; }
  .face > div .flip {
    align-self: flex-end;
    -webkit-align-self: flex-end; }
    .face > div .flip img {
      height: 32px;
      margin: 0 10px 7px 0; }

#back, #next {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  -webkit-display: flex;
  -webkit-flex-grow: 1;
  -webkit-justify-content: center;
  padding: 40px 0; }
  #back div, #next div {
    display: inherit; }
  #back:hover span, #next:hover span {
    background-color: #606060; }
  #back span, #next span {
    width: 3px;
    height: 16px;
    background-color: #d7d7d7;
    display: block; }
  #back span:first-child, #next span:first-child {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 10px;
    left: 3px;
    position: relative; }
  #back span:nth-child(2), #next span:nth-child(2) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  #back.active div, .active#next div {
    -webkit-animation: back linear .2s;
    animation: back linear .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    #back.active div span, .active#next div span {
      background-color: #606060; }

#next {
  left: auto;
  right: 16px; }
  #next span:first-child {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  #next span:nth-child(2) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  #next.active div {
    -webkit-animation: next linear .2s;
    animation: next linear .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

@keyframes next {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(8px, 0px);
    transform: translate(8px, 0px); }
  /*---  2nd Half(down)  ---*/
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@keyframes back {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(-8px, 0px);
    transform: translate(-8px, 0px); }
  /*---  2nd Half(down)  ---*/
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
/* ------------ Info --------------*/
#infoContainer {
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin: 20px 40px;
  font-size: 20px;
  font-family: "Source Sans Pro","Lucida Grande",Verdana,sans-serif; }
  #infoContainer img {
    width: 300px; }
  #infoContainer p {
    margin-top: 20px;
    max-width: 400px; }
    #infoContainer p a {
      color: #191919;
      text-decoration: underline !important; }

/*# sourceMappingURL=style.css.map */
